/* Stylesheet for the HEADER OF THE PAGE */

/* fonts a importar al header */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #2D728F;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #F5EE9E;
}

#header-nav {
  display: flex;
  align-items: center;
}

#logo {
  width: 60px;
  height: 60px;
}

#title {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0 20px 0 20px;
}

#menu {
  position: absolute;
  right: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#menu li {
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

#menu a:hover {
  color: #f49e4c; /* Change to your preferred hover color */
}

#menu-button {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (max-width: 1000px) {
  /* Show the menu button and hide the menu */
  #menu-button {
    display: block;
  }

  #menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px; /* Adjust this value as needed */
    right: 10px;
    margin: 0;
    padding: 0 20px 0 20px;
    background-color: #3b8ea5;
    text-align: center;
  }

  /* Style the menu items for small screens */
  #menu li {
    margin: 10px 0;
  }

  #menu-button.active + #menu,
  @media screen and (min-width: 1001px) {
    display: flex;
  }
}
