<!DOCTYPE html>
<html lang="cat">
  <head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark light">
    <title>hwfib.com</title>
  </head>
  <body>
    <header>
      <h1 align=left>hwfib.com</h1>
      <h3><i>Portal d'alumnes de hardware de la FIB</i></h3>
      <nav>
        <ul>
          {% assign sorted_pages = site.pages | sort: 'order' %}
          {% for p in sorted_pages %}
            {% if p.url == page.url %}
              <li><b><a href="{{ p.url }}">{{ p.title }}</a></b></li>
            {% else %}
              <li><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>

